// colors
$black               : #000;
$white               : #fff;
$branding-color      : #0d4b80;
$branding-color-light: #C4CCD2;

// ios dimensions
$ios-sm: 44px;
$ios-md: 58px;
$ios-lg: 80px;


// space
$base-dimension: 1rem;
$space-base    : 1rem;

$space-base-large : $space-base;
$space-base-medium: $space-base/2;
$space-base-small : $space-base/3;
