.hamburger {
  @include transform (translateX(-50%) translateY(-50%));
  @extend %default-transition;
  position: absolute;
  left: 50%;
  top: 50%;

  &:hover {
    cursor: pointer;
  }

  .-line {
    @extend %default-transition;
    height: 4px;
    background: $white;
    width: 38px;
    margin-top: 6px;


    &:first-child {
      margin-top: 0px;
    }

    &:last-child {
      @extend %default-transition;
    }
  }

  &.active {
    @include transform (rotate(-45deg) translateX(-12%) translateY(-90%));

    .-line {
      //margin: 0;

      &:first-child {
        opacity: 0;
      }

      &:last-child {
        @include transform (rotate(-90deg) translateX(25%) translateY(23%));
      }
    }


  }
}
